.media-page{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.video-text-container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.video-text-container video{
    width: 100%;
    height:100%;
}

.text-box-media{
    position: absolute;
    top: 0;
    left: 0;
    background: #030303;
    height: 100%;
    width: 100%;
    color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: multiply;
    cursor: default;
}

.media-arrow-svg{
    width: 20vw;
    margin-bottom: -132px;
    margin-left: -50px;
}

.interact-text-wrapper{
    display: flex;
}

.media-info-container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 292px;
    gap: 50px;
    margin-top: -120px;
    z-index: 99;
}

.macbook-interact-container {
    position: relative;
    width: 1200px; /* adjust based on your design */
    max-width: 1600px;
    padding-bottom: 100px;
    padding-top: 72px;
  }
  
.macbook-image {
    width: 100%;
    display: block;
}

.macbook-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%; /* keep it responsive */
  display: block;
}


.laptop-screen-frame {
  position: absolute;
top: 5.2%;
left: 11.8%;
width: 76.3%;
height: 75%;
  overflow: hidden;
  background: white;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  pointer-events: all;
}


.embedded-frame-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}


.click-prompt {
    color: black;
    text-align: center;
    padding-top: 20%; /* center the text within the screen */
}


.video-text-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .media-header-text {
    font-size: clamp(9rem, 30vw, 28rem); /* responsive scaling */
    text-transform: uppercase;
    color: white;
    mix-blend-mode: screen;
    z-index: 2;
  }

  .small-screen-interact-container{
    display: none;
  }

  .magazine-photoshoot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 20px;
  justify-content: space-between;
}

.magazine-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  cursor: pointer;
}

.magazine-thumbnail {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 245, 0.8); /* light border at 80% opacity */
}

.magazine-title {
  color: #F5F5F5;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.447px;
  text-transform: capitalize;
  margin-top: 8px;
  align-self: start
}

.magazine-issue {
  color: rgba(245, 245, 245, 0.50);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.492px;
  align-self: start;
}

.small-screen-title{
  text-align: left;
}

.small-screen-issue{
  text-align: right;
}

  @media screen and (min-width:1880px){
    .media-arrow-svg{
        margin-left: -100px
    }
  }

  @media screen and (max-width:1512px){
  .media-paragraph-text{
    font-size: 25px;
  }
}
  
  @media screen and (max-width: 1340px) {
    .macbook-interact-container {
        width: 900px;
    }

    .media-arrow-svg{
      margin-bottom: -104px;
    }

    .media-paragraph-text{
      font-size: 24px;
    }

    .media-info-title{
        font-size: 40px;
    }
  }

    @media screen and (max-width: 1140px) {
    .media-info-container{
      width: 90vw;
    }

    .media-info-title{
      font-size: 40px;
    }

    .media-arrow-svg {
      margin-bottom: -78px;
  }
  .macbook-interact-container{
    padding-top: 56px;
  }

  }

  @media screen and (max-width: 1060px) {
    .small-screen-interact-container{
      display: flex;
      flex-direction: column;
      width: 95vw;
      padding-top: 50px;
      align-items: center;
      gap: 50px;
    }

    .small-screen-card {
      width: 500px;       /* or whatever fixed width you like */
      text-align: center;
      cursor: pointer;
    }

    .small-screen-thumb {
      width: 100%;
      height: 500px;      /* same as card width for a perfect square */
      object-fit: cover;
      border-radius: 4px;
      border: 2px solid rgba(245,245,245,0.8);
    }

    .macbook-interact-container{
      display: none;
    }

    .media-info-container{
      margin-top: -220px;
    }

    .alt-interact-text-wrapper{
      display: flex;
      width: 95vw;
    }

    .small-screen-text-container{
      display: flex;
      color: #F5F5F5;
      justify-content: space-between;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: "Bai Jamjuree", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.447px;
      text-transform: capitalize;
      margin-top: 8px;
      align-self: start
    }
  }

  @media screen and (max-width: 850px){
    .video-text-container{
      margin-top: -100px;
    }

    .media-info-container {
        margin-top:-280px;
    }

    .media-info-title {
        font-size: 25px;
    }

    .media-paragraph-text {
        font-size: 18px;
    }

    .media-header-text{
      margin-top: -150px;
    }

    .media-info-container {
      width: 95vw;
  }
  .small-screen-interact-container {
    padding-top: 0px;
  }

  .small-screen-card {
    width: 300px;    
  }

  .small-screen-thumb {
    height: 300px; 
  }
  }

  @media screen and (max-width: 620px){
    .video-text-container{
      margin-top: -200px;
    }

    .magazine-photoshoot-container {
      justify-content: center;
      padding-bottom: 102px;
    }

  }


    @media screen and (max-width: 430px){

    .media-info-title {
        font-size: 24px;
    }

    .media-paragraph-text {
        font-size: 16px;
    }

    .media-header-text{
      font-size: 7rem;
    }

    .media-info-container {
      margin-top: -320px;
    }

    .small-screen-interact-container{
      padding-top: 56px;
    }

    .small-screen-card {
    width: 200px;    
  }

  .small-screen-thumb {
    height: 200px; 
  }

  .alt-media-arrow-svg{
    width: 50vw;
  }
  .small-screen-text-container{
    font-size: 14px;
  }

  }



